doctype html
html(lang="en")
  head
    link(href="/favicon.png" rel="shortcut icon" type="image/png")
    link(href="/reveal.css" rel="stylesheet")
    link(href="/theme/white.css" rel="stylesheet")
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    title Digital Léman Prez
  body
    div(class="reveal")
      include Presentation
    script(src='/markdown.js')
    script(src='/reveal.js')
    script(src='/index.js')