div(class="slides")
  section
    h1= presentation.attributes.title
    h2= presentation.attributes.subtitle
    = presentation.attributes.user.data.attributes.username 
  each slide in presentation.attributes.slides
    include Slide